@tailwind base;
@tailwind components;
@tailwind utilities;

.somelement {
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.StyledNodeNormal{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  border: 2px solid #b794ec;
  background: #DBCDF0;
  color: #a678ec;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeNormal:hover{
  box-shadow: 0 0 30px 12px #DBCDF0;
  transition: 300ms;
}

.moodNormal{
  border: 2px solid #b794ec;
  background: #DBCDF0;
}

.StyledNodeResultMedium{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #d6b04e;
  background: #FAEDCB;
  color: #caa23c;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeResultMedium:hover{
  box-shadow: 0 0 30px 12px #FAEDCB;
  transition: 300ms;
}

.moodMedium{
  border: 2px solid #d6b04e;
  background: #FAEDCB;
}

.StyledNodeResultGood{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #7ee695;
  background: #BAFFC9;
  color: #63e27e;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeResultGood:hover{
  box-shadow: 0 0 30px 12px #BAFFC9;
  transition: 300ms;
}

.moodGood{
  border: 2px solid #7ee695;
  background: #BAFFC9;
}

.StyledNodeResultBad{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #c25661;
  background: #FFB3BA;
  color: #dd4e5c;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeResultBad:hover{
  box-shadow: 0 0 30px 10px #FFB3BA;
  transition: 300ms;
}

.moodBad{
  border: 2px solid #c25661;
  background: #FFB3BA;
}

.StyledNodeChoice{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #75a9d4;
  background: #C6DEF1;
  color: #6ea8d7;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeChoice:hover{
  box-shadow: 0 0 30px 10px #C6DEF1;
  transition: 300ms;
}

.moodChoice{
  border: 2px solid #75a9d4;
  background: #C6DEF1;
}

.StyledNodeRetrospect{
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid #ee90c4;
  background: #F2C6DE;
  color: #e17db4;
  font-weight: bold;
  position: relative;
  width: 180px;
  max-height: fit-content;
  transition: 300ms;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.StyledNodeRetrospect:hover {
  box-shadow: 0 0 30px 10px #F2C6DE;
  transition: 300ms;
}

.moodRetrospect {
  border: 2px solid #ee90c4;
  background: #F2C6DE;
}

.caretClass{
  caret-shape: block;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.treeViewBG {
  --dot-bg: #FAF6EC;
  --dot-color: black;
  --dot-size: 1.2px;
  --dot-space: 30px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}